.featured-article{margin-bottom:10px;}
.show-less-articles{display:none;}
.static-design-content{font-weight: bold;font-size: 20px;}
/*ul.nav li.current-menu-item  a {
    border-bottom: 4px solid #00B0EB;
}*/
/*ul.nav li.current-menu-parent > a {
    border-bottom: 4px solid #00B0EB;
}*/
.primary-nav .nav li.current-menu-item > a {
     border-bottom: 4px solid #00B0EB;
}
.primary-nav .nav li.dropdown a {    
    padding: 9px 0;
}
.primary-nav .nav .dropdown-menu li.current-menu-item a {
    color: #00aeef;
    border-bottom: none;
}
.show-less-term-loan{display:none;}
.show-less-termDetail-loan{display:none;}
label.sucess{color: green;margin-bottom: 10px;}

@media (max-width:767px) {
  .primary-nav .nav li.dropdown > a {
        padding-right:32px;
        margin:0;
    }
    .primary-nav .nav .dropdown-menu li.current-menu-item a {
       color: #fff; 
    }
    .primary-nav .nav li.current-menu-item > a {
        border-bottom: 4px solid #fff;
    }
}



